<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="style.css">

    <title>RecycLocator</title>
<!--Estilo de Boton que lleva hacia el mapa-->
<!--Para cambiar la ubicacion del boton cambiar datos de margin para mas o menos pixeles, primer dato es eje y, segundo dato es eje x.-->
</head>
<!--Enlace conectado al boton para el mapa-->
<body>
    
    <div class="head">

        <div class="logo">

            <i class="fas fa-recycle"></i> 
            <span class="texto">RecycLocator</span>
            
        </div>

    </div>

    <header class="content header">
        <h2 class="title">¿Qué es el reciclaje?</h2>
        <p>El reciclaje es el proceso de recolectar desechos o 
            materiales desechados y convertirlos en nuevos productos
            o materiales para su reutilización.
        </p>
        <figure class="img"><img src="Reciclar.png" height="216px" 
            width="300px" alt="Elementos del reciclaje">
        </figure>
        <p>La importancia del reciclaje está en que este tiene múltiples beneficios:
        </p>
        <p>1. Ahorra agua y energía.<br><br>2. Reduce los basurales.
        <br><br>3. Minimiza el consumo de recursos naturales.<br><br>
        4. Reduce las emisiones de CO2.</p>

        <figure class="img"><img src="Agua.png" height="115px" 
            width="115px" alt="Cuidado del agua">
            <img src="Basurales.png" height="115px" 
            width="205px" alt="Basural">
        </figure>

        <figure class="img"><img src="co2.png" height="115px" 
            width="170px" alt="Emisiones de CO2">
            <img src="energia.png" height="115px" 
            width="150px" alt="Energia limpia">
        </figure>
        <p>Algunos materiales que comúnmente se reciclan son:</p>
        <p>El papel, el cartón, distintos tipos de plasticos, el vidrio, 
            los metales, diversos objetos electrónicos, los textiles, la madera, 
            entre otros.
        </p>
        

    </header>

    <section class="content sau">

        <h2 class="title">¿Qué objetos podemos reciclar? y ¿Cómo podemos hacerlo?</h2>
        <p>Muchos, por no decir la mayoria de los objetos que tenemos en nuestra casa
            se pueden reciclar.
        </p>
        <p>A continuación nombraremos algunos objetos que seguramente 
            alguna vez has tenido en tu casa, ademas se te diremos la forma correcta
            de llevarlos a un centro de reciclaje.
        </p>
        
    <div class="box-container">

        <div class="arrow">
            <details>
            <summary style="cursor: pointer; font-weight: bold;">
                <h3>Botellas y envases de plástico</h3>
            </summary>
                <div class="box">
                <p>Como reciclarla</p>
                <figure class="img"><img src="palstico.png" height="90px" 
                    width="160px" alt="Plasticos">
                </figure>
                </div>
            </details>
        </div>
        
        <div class="arrow">
            <details>
                <summary style="cursor: pointer; font-weight: bold;">
                    <h3></i> Latas de aluminio</h3>
                </summary>
                <div class="box">
                    <p>Como reciclarla</p>
                    <figure class="img"><img src="latas.png" height="105px" 
                        width="160px" alt="Latas de aluminio">
                    </figure>
                </div>
            </details>
        </div>

        <div class="arrow">
            <details>
                <summary style="cursor: pointer; font-weight: bold;">
                    <h3></i> Frascos de vidrio</h3>
                </summary>
                <div class="box">
                    <p>Como reciclarla</p>
                    <figure class="img"><img src="frasco de vidrio.png" height="122px" 
                        width="160px" alt="Frascos de vidrio">                       
                     </figure>
                </div>
            </details>
        </div>

        <div class="arrow">
            <details>
                <summary style="cursor: pointer; font-weight: bold;">
                    <h3></i> Periódicos y cartones</h3>
                </summary>
                <div class="box">
                    <p>Como reciclarla</p>
                    <figure class="img"><img src="cajas de carton.png" height="128px" 
                        width="160px" alt="Cajas de cartón">
                    </figure>        
                </div>
            </details>
        </div>                

        <div class="arrow">
            <details>
                <summary style="cursor: pointer; font-weight: bold;">
                    <h3></i> Teléfonos móviles</h3>
                </summary>
                <div class="box">
                    <p>Como reciclarla</p>
                    <figure class="img"><img src="celus.png" height="122px" 
                        width="160px" alt="Celulares">
                    </figure>       
                </div>
            </details>
        </div>         
    </div>

    <style>
        a{
            display: block;
            width: 150px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 200px;
            background-color: rgb(88, 153, 155);
            border-radius: 10px;
            padding: 15px 30px;
            margin: 100px 43%;
            color: #fff;
            text-decoration: none;
        }
        a:hover {
            background-color: darkcyan;
            border: 2px solid rgb(88, 153, 155);
            color: rgb(255, 255, 255);
        }
    </style>

    <a href="http://127.0.0.1:8000/map/" target="_blank">Puntos de Reciclaje</a>

</body>
</html>

